{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader" >
        <i class="circle-preloader" ></i>
        <img src="{% static 'img/core-img/spinner.png' %}" alt="">
    </div>

    {% include 'partials/_busca.html' %}

    {% include 'partials/_menu.html' %}

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% if produtos %}
                {% for produto in produtos %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {% if produto.foto_produto == '' %}
                        <img src="{% static 'img/login-img/goldenComLogo.jpeg' %}" alt="">
                        {% else %}
                            <img src="{{ produto.foto_produto.url }}" alt="">
                        {% endif %}
                        <div class="receipe-content">
                        <a href="{% url 'produto' produto.id%}" >
                                <p align="justify">Produto: {{ produto.nome_produto}}</p>
                                <p align="justify">Data de lançamento: {{ produto.data_produto }}</p>
                                <p align="justify">Informação do produto: {{ produto.descricao }}</p>
                                 <p align="justify">Valor do produto: R$ 49,99</p>
                                <p align="justify"><button class="btn btn-dark" type="submit">Adicionar ao carrinho</button></p>
                        </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12 col-sm-6 col-lg-4">
                    <p>Produto não foi encontrado em nosso sistema!</p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include 'partials/_footer.html' %}
{% endblock %}