{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_busca.html' %}

{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success text-dark" role="alert">
                    <h4 class="alert-heading text-center">Crie sua conta no site da GOLDEN BEAR COMPANY 
                        <i class="fa fa-registered" aria-hidden="true"></i></h4>

                    <p style="color:black">A sua loja digital e personalizada da GOLDEN BEAR COMPANY. Aqui você encontrará camisas, 
                        calças, blusas, acessórios, bonés e chaveiros. Fique à vontade para entrar em contato conosco! 
                    </p>

                    <hr/>
                    
                    <p class="mb-0" style="color:black">Todos os dados a seguir 
                        serão obrigatórios para realizar o cadastro no site da GOLDEN BEAR COMPANY 
                        <i class="fa fa-paw" aria-hidden="true"></i>
                    </p>

                </div>

                {% include 'partials/_alertas.html' %}
                <div class="contact-form-area">
                    <form action="{% url 'cadastro' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-12 col-lg-12">
                                <label for="username"><b>Usuário <i class="fa fa-user-plus" aria-hidden="true"></i></b></label>
                                <input type="text" class="form-control border border-dark rounded" name="username" 
                                placeholder="Ex.:Caio Henrique" required> 
                            </div>

                            <div class="col-12 col-lg-6">
                                <label for="nome"><b>Nome <i class="fa fa-user-plus" aria-hidden="true"></i></b></label>
                                <input type="text" class="form-control border border-dark rounded" name="nome" 
                                placeholder="Ex.:Caio" required> 
                            </div>

                                <div class="col-12 col-lg-6">
                                    <label for="sobrenome"><b>Sobrenome <i class="fa fa-user-plus" aria-hidden="true"></i></b></label>
                                    <input type="text" class="form-control border border-dark rounded" name="sobrenome" 
                                    placeholder="Ex.:Henrique" required> 
                                </div>

                            <div class="col-12 col-lg-6">
                                <label for="email"><b>Email <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></b></label>
                                <input type="email" class="form-control border border-dark rounded" name="email" 
                                placeholder="Ex.: caio@gmail.com" required>
                            </div>

                            <div class="col-12 col-lg-6">
                                <label for="email2"><b>Confirmação de Email <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></b></label>
                                <input type="email" class="form-control border border-dark rounded" name="email2" 
                                placeholder="Ex.: caio@gmail.com" required>
                            </div>

                            <div class="col-12 col-lg-6">
                                <label for="password"><b>Senha <i class="fa fa-key fa-fw" aria-hidden="true"></i></b></label>
                                <input type="password" class="form-control border border-dark rounded" name="password" 
                                placeholder="Digite sua senha" required>
                            </div>

                            <div class="col-12 col-lg-6 input-group col-md-4 f-left">
                                <label for="password2"><b>Confirmação de senha <i class="fa fa-key fa-fw" aria-hidden="true"></i></b></label>
                                <input type="password" class="form-control border border-dark rounded" name="password2" 
                                placeholder="Digite sua senha mais uma vez" id="user_password2" data-component="password-strength" 
                                data-monitor-id="password-strength-monitor"required >
                            </div>

                            <div class="classynav col-12 text-center">
                                <button class="btn btn-outline-dark border border-dark rounded btn-block" 
                                type="submit">Criar sua conta <i class="fa fa-upload" aria-hidden="true"></i></button>

                                <button class="btn btn-outline-dark border border-dark btn-block" 
                                type="button" onclick="exibirLoginConta()">Já possui conta? Clique aqui</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function exibirLoginConta()
{
        location.href = "{% url 'login' %}";
}
</script>
{% include 'partials/_footer.html' %}
{% endblock %}