{% extends 'base.html' %} {% load static %} {% block content %} 
{% include 'partials/_busca.html' %} {% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <div
          class="alert alert-dark text-dark text-center border border-dark"
          role="alert"
        >
          <h4 class="text-center">
            Prezado(a), se possuir alguma reclamação ou dúvida entre em contato conosco através desse formulário.
            <i class="fa fa-registered" aria-hidden="true"></i>
          </h4>
          <p style="color: black;">
            A sua loja digital e personalizada da GOLDEN BEAR COMPANY. Aqui você
            encontrará camisas, calças, blusas, acessórios, bonés e chaveiros.
            Fique à vontade para entrar em contato conosco!
          </p>
          <hr />
          <p class="mb-0" style="color: black;">
            Todos os dados a seguir serão obrigatórios para realizar o envio de email
            no site da GOLDEN BEAR COMPANY
            <i class="fa fa-paw" aria-hidden="true"></i>
          </p>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="contact-form-area">
          <form
            action="{% url 'index' %}"
            method="post"
            class="ls-form ls-form-horizontal"
            data-toggle="validator"
            role="form"
          >
            {% csrf_token %}
            <div class="row form-group">
              <div class="col-12 col-lg-12 ls-prefix-group">
                <label for="nome"
                  ><b
                    >Nome Completo 
                    <i
                      class="fa fa-user-plus"
                      aria-hidden="true"
                      style="color: black;"
                    ></i></b
                ></label>
                <input
                  type="text"
                  class="form-control border border-dark rounded"
                  name="nome"
                  placeholder="Ex.:Fulano da Silva"
                  value="{{ user.first_name }} {{ user.last_name }}"
                  required
                />
              </div>

              <div class="col-12 col-lg-6">
                <label for="telefone"
                  ><b
                    >Telefone <i
                      class="fa fa-envelope-o fa-fw"
                      aria-hidden="true"
                      style="color: black;"
                    ></i></b
                ></label>
                <input
                  type="text"
                  class="form-control border border-dark rounded"
                  name="telefone"
                  placeholder="Insira um telefone ou celular para contato"
                  required
                />
              </div>

              <div class="col-12 col-lg-6">
                <label for="email"
                  ><b
                    >Email <i
                      class="fa fa-envelope-o fa-fw"
                      aria-hidden="true"
                      style="color: black;"
                    ></i></b
                ></label>
                <input
                  type="email"
                  class="form-control border border-dark rounded"
                  name="email"
                  placeholder="Insira seu E-mail"
                  value="{{ user.email }}"
                  required
                />
              </div>

              <div class="col-12 col-lg-12">
                <label for="assunto"
                  ><b
                    >Assunto 
                    <i
                      class="fa fa-edit"
                      aria-hidden="true"
                      style="color: black;"
                    ></i></b
                ></label>
                <input
                  type="text"
                  class="form-control border border-dark rounded"
                  name="assunto"
                  placeholder="Insira o assunto desejado"
                  required
                />
              </div>

              <div class="col-12 col-12 col-lg-12 ls-prefix-group">
                <label for="descricao"
                  ><b>
                      Descrição 
                    <i
                      class="fa fa-edit"
                      aria-hidden="true"
                      style="color: black;"
                    ></i></b
                ></label>
                <textarea
                  class="form-control border border-dark rounded"
                  name="descricao"
                  id="descricao"
                  maxlength="500"
                  placeholder="Descreva o e-mail de sugestão ou problema aqui"
                  onkeydown="contaCaracteresDescricao(this)"
                  onkeyup="contaCaracteresDescricao(this)"
                  onclick="contaCaracteresDescricao(this)"
                  required
                ></textarea>

                <div>
                    <strong
                      ><p style="color: black;" id="divmag">
                        500 caracteres restantes
                      </p>
                    </strong>
                </div>
              </div>

              <div class="col-12 col-lg-12">
                <label for="file"
                  ><b
                    >Anexo
                    <i
                      class="fa fa-picture-o"
                      aria-hidden="true"
                      style="color: black;"
                    ></i> </b
                ></label>
                <input
                  type="file"
                  class="form-control border border-dark rounded"
                  name="Anexar imagem ou arquivo"
                  required
                />
              </div>
              <br />

              <div class="col-12 text-center">
                <button
                  class="btn btn-outline-dark border border-dark btn-block"
                  type="submit"
                >
                  Enviar e-mail <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function contaCaracteresDescricao(campo_passado) {
      var limite = 500;
      var campo = campo_passado.value.length;
      var maxlength = document
        .getElementById("descricao")
        .setAttribute("maxlength", limite);
      var conta = limite - campo;
      var divmag = document.getElementById("divmag");
      divmag.innerHTML = conta + " caracteres restantes";
    }
</script>

{% include 'partials/_footer.html' %} {% endblock %}
