{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h3 {
    text-align: center;
  }
</style>

<br><br><br>
<div class="contact-area section-padding-0">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="alert alert-dark text-dark text-center border border-dark" role="alert">
          <h4 class="text-center">Prezado usuário da GOLDEN BEAR COMPANY
            <i class="fa fa-registered" aria-hidden="true"></i></h4>
          <p style="color:black">A sua loja digital e personalizada da GOLDEN BEAR COMPANY. Aqui você encontrará camisas,
            calças, blusas, acessórios, bonés e chaveiros. Fique à vontade para entrar em contato conosco!
          </p>

          <hr />

          <p class="mb-0" style="color:black">Todos os dados a seguir
            serão obrigatórios para realizar a redefinição de sua senha no site da GOLDEN BEAR COMPANY
            <i class="fa fa-paw" aria-hidden="true"></i>
          </p>
        </div>

        <div class="contact-form-area">
          <form class="ls-form ls-form-horizontal" method="POST" data-toggle="validator" role="form">{% csrf_token %}

            <h1 class="h3 mb-3 font-weight-normal">Redefinir senha</h1>

            <div class="row form-group">

              <div class="col-12 col-lg-6 ls-prefix-group">
                <label for="password" class="control-label"
                  ><b>Nova senha <i class="fa fa-key fa-fw" aria-hidden="true"></i></b
                ></label>
                <input name="new_password1" class="form-control border border-dark rounded" placeholder="Nova senha"
                  type="password" id="id_new_password1" name="id_new_password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Senha deve conter de oito (8) a trinta (30) caracteres pelo menos um número, uma letra maiúscula, 
                  uma minúscula e não deve conter espaços ou emoji." 
                  onkeydown="contaCaracteresSenha(this)"
                  onkeyup="contaCaracteresSenha(this)"
                  onclick="contaCaracteresSenha(this)"
                  minlength="8"
                  maxlength="30" 
                  required="true">

                  <div>
                    <strong><p style="color: black;" id="divmagsenhaReset">30 caracteres restantes</p></strong>
                  </div>

                  <p style="color: black;">
                    <strong style="color: black;">Atenção:</strong> Senha deve conter de oito (8) a trinta (30) caracteres pelo menos um número, uma letra maiúscula, 
                    uma minúscula e não deve conter espaços ou emoji.
                  </p>

              </div>

              <div class="col-12 col-lg-6 ls-prefix-group">
                <label for="password" class="control-label"
                  ><b>Confirmar nova senha <i class="fa fa-key fa-fw" aria-hidden="true"></i></b
                ></label>
                <input name="new_password2" class="form-control border border-dark rounded"
                  placeholder="Confirmar nova senha" type="password" id="id_new_password2" 
                  name="id_new_password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Senha deve conter de oito (8) a trinta (30) caracteres pelo menos um número, uma letra maiúscula, 
                  uma minúscula e não deve conter espaços ou emoji."
                  onkeydown="contaCaracteresConfSenha(this)"
                  onkeyup="contaCaracteresConfSenha(this)"
                  onclick="contaCaracteresConfSenha(this)" 
                  minlength="8"
                  maxlength="30" 
                  required="true">

                  <div>
                    <strong><p style="color: black;" id="divmagsenhaConfReset">30 caracteres restantes</p></strong>
                  </div>

                  <p style="color: black;">
                    <strong style="color: black;">Atenção:</strong> Senha deve conter de oito (8) a trinta (30) caracteres pelo menos um número, uma letra maiúscula, 
                    uma minúscula e não deve conter espaços ou emoji.
                  </p>

              </div>

              <div class="col-12 col-lg-12">
                {% for field in form %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% endfor %}
              </div>

              <div class="col-12 col-lg-6 input-group col-md-4 f-left form-group">
                <div class="checkbox">	    
                  <label>	      
                    <input type="checkbox" data-error="Você deve marcar este campo!" 
                    required> Marque este item, para validar o formulário de redefinição de senha.	    
                  </label>
                  <div class="help-block with-errors"></div>	  
                </div>
              </div>

              <div class="col-12 col-lg-12 form-group">
                <button class="btn btn-lg btn btn-outline-dark border border-dark btn-block" type="submit">Criar nova
                  senha</button> <br> <br>
              </div>
             
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  function contaCaracteresSenha(campo_passado) {
    var limite = 30;
    var campo = campo_passado.value.length;
    var maxlength = document.getElementById("id_new_password1").setAttribute("maxlength", limite);
    var conta = limite - campo
    var divmagsenhaReset = document.getElementById("divmagsenhaReset");
    divmagsenhaReset.innerHTML = conta + " caracteres restantes";
  }

  function contaCaracteresConfSenha(campo_passado) {
    var limite = 30;
    var campo = campo_passado.value.length;
    var maxlength = document.getElementById("id_new_password2").setAttribute("maxlength", limite);
    var conta = limite - campo
    var divmagsenhaConfReset = document.getElementById("divmagsenhaConfReset");
    divmagsenhaConfReset.innerHTML = conta + " caracteres restantes";
  }
</script>

{% endblock %}