{% extends 'base.html' %}
{% load static %}
{% block content %}


<br><br><br><br><br><br>
<div class="contact-area section-padding-0">
	<div class="container">
	  <div class="row">
		<div class="col-12">
			<div class="alert alert-dark text-dark text-center" role="alert">
				<h4 class="text-center">Prezado usuário da GOLDEN BEAR COMPANY 
					<i class="fa fa-registered" aria-hidden="true"></i></h4>

					<p style="color:black">A sua loja digital e personalizada da GOLDEN BEAR COMPANY. Aqui você encontrará camisas, 
						calças, blusas, acessórios, bonés e chaveiros. Fique à vontade para entrar em contato conosco! 
					</p>

					<hr/>

					<p style="color:black">Sua senha foi atualizada com sucesso no sistema.</p>
	
				<hr/>

				<p class="m-auto p-2"><a href="{% url 'index' %}"> <button class="alert-link btn btn-link btn-block" type="submit">Ir para a página principal</button></a></p>
				
				<p class="m-auto p-2"><a href="{% url 'logout' %}"> <button class="alert-link btn btn-link btn-block" type="submit">Ir para o login</button></a></p>
			</div>
		</div>
	  </div>
	</div>
</div>

{% endblock %}