{% extends 'base.html' %}
{% load static %}

{% block content %}
{% autoescape off %}

<br><br><br><br><br><br><br>
<div class="contact-area section-padding-0">
	<div class="container">
	  <div class="row">
		<div class="col-12">

		  <div class="alert alert-success text-dark text-center" role="alert">
			<h4 class="alert-heading">Prezado usuário da GOLDEN BEAR COMPANY 
				<i class="fa fa-registered" aria-hidden="true"></i></h4>
  
			<p style="color:black">Enviamos por e-mail instruções para definir sua senha, se existir uma conta com o e-mail que você digitou.
				Você deve recebê-los em breve. 
			</p>
  
			<hr/>
			
			<p class="mb-0" style="color:black">Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou,
				e verifique sua pasta de spam. 
				<i class="fa fa-paw" aria-hidden="true"></i>
			</p>

			<p class="m-auto p-2"><a href="{% url 'login' %}"> <button class="btn btn-lg btn btn-link border-dark btn-block" type="submit">Retorne para a página de login</button></a></p>
		  </div>
  
		</div>
	  </div>
	</div>
  </div>

{% endautoescape %}
{% endblock %}