{% extends 'base.html' %}
{% load static %}
{% block content %}


<br><br><br><br><br><br>
<div class="contact-area section-padding-0">
	<div class="container">
	  <div class="row">
		<div class="col-12">
			<div class="alert alert-success text-dark text-center" role="alert">
				<h4 class="alert-heading">Prezado usuário da GOLDEN BEAR COMPANY 
					<i class="fa fa-registered" aria-hidden="true"></i></h4>

					<p style="color:black">A sua loja digital, personalizada da GOLDEN BEAR COMPANY, onde você encontrará camisas, 
						calças, blusas, acessórios, bonés e chaveiros, fique a vontade para entrar em contato conosco! 
					</p>

					<hr/>

					<p style="color:black">Sua senha foi atualizada com sucesso no sistema.</p>
	
				<hr/>
				
				<p class="m-auto p-2"><a href="{% url 'index' %}"> <button class="btn btn-lg btn btn-link border-dark btn-block" type="submit">Ir para a página principal</button></a></p>
			</div>
		</div>
	  </div>
	</div>
</div>

{% endblock %}