{% extends 'base.html' %}
{% load static %}

{% block content %}
{% autoescape off %}

<br><br><br><br><br><br><br>
<div class="contact-area section-padding-0">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<div class="alert alert-dark text-dark text-center border border-dark" role="alert">
					<h4 class="text-center">Prezado usuário da GOLDEN BEAR COMPANY
						<i class="fa fa-registered" aria-hidden="true"></i></h4>

					<p style="color:black">Enviamos por e-mail instruções para redefinir sua senha, se existir uma conta
						com o e-mail que você digitou. Você deve recebê-lo em breve.
					</p>

					<hr />

					<p class="mb-0" style="color:black">
						Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou
						e verifique sua pasta de spam. <i class="fa fa-paw" aria-hidden="true"></i>
					</p>

					<p class="mb-0" style="color:black">
						Caso você tenha checado o seu e-mail e a sua caixa de spam e não recebeu o e-mail para a redefinição
						de senha, entre em contato conosco via WhatsApp ou E-mail para redefinir sua senha.
					</p>

					<p class="m-auto p-2">
						<a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511992176233&text=Olá, proprietario(a) da Golden Bear, Gostaria de redefinir meu acesso ao site" 
						target="_blank">
							<button class="alert-link btn btn-link btn-block" type="submit">
								Entre em contato pelo WhatsApp
							</button>
						</a>
					</p>

					<p class="m-auto p-2">
						<a rel="noopener noreferrer" 
						href="malito:guilhermevilelamoreirav@gmail.com" 
						target="_blank">
							<button class="alert-link btn btn-link btn-block" type="submit">
								Entre em contato pelo E-mail
							</button>
						</a>
					</p>

					<p class="m-auto p-2">
						<a href="{% url 'login' %}">
							<button class="alert-link btn btn-link btn-block" type="submit">
								Retorne para a página de login
							</button>
						</a>
					</p>
					
				</div>
			</div>
		</div>
	</div>
</div>

{% endautoescape %}
{% endblock %}