{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

<div class="contact-area section-padding-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-dark text-dark text-center border border-dark" role="alert">
          <h4 class="alert-heading">Redefina sua senha no site da GOLDEN BEAR COMPANY
            <i class="fa fa-registered" aria-hidden="true"></i></h4>

          <p style="color:black">A sua loja digital e personalizada da GOLDEN BEAR COMPANY. Aqui você encontrará camisas,
            calças, blusas, acessórios, bonés e chaveiros. Fique à vontade para entrar em contato conosco!
          </p>

          <hr />

          <p class="mb-0" style="color:black">O dado a seguir
            é obrigatório para realizar a redefinição da sua senha no site da GOLDEN BEAR COMPANY
            <i class="fa fa-paw" aria-hidden="true"></i></p>
        </div>

        <div class="contact-form-area">
          <form method="POST">{% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal text-center">Redefinir senha</h1>

            <div class="row">

              <div class="col-12 col-lg-12">
                <input name="email" class="form-control border border-dark rounded" placeholder="Digite seu e-mail"
                  type="email" id="id_email" required="true">
              </div>

              <div class="col-12 col-lg-12">
                <button class="btn btn-lg btn btn-outline-dark border border-dark btn-block" type="submit">Enviar e-mail
                  de redefinição</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'partials/_footer.html' %}
{% endblock %}