{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br><br><br><br><br>
<div class="contact-area section-padding-0">
	<div class="container">
	  <div class="row">
		<div class="col-12">
			<div class="alert alert-success text-dark text-center" role="alert">
				<h4 class="alert-heading">Prezado usuário da GOLDEN BEAR COMPANY 
					<i class="fa fa-registered" aria-hidden="true"></i></h4>
				<p style="color:black">Sua senha foi redefinida com sucesso no sistema. Agora você pode ir em frente e logar.</p>
				</p>
	
				<hr/>
				
				<p class="m-auto p-2"><a href="{% url 'index' %}"> <button class="btn btn-lg btn btn-link border-dark btn-block" type="submit">Ir para a página principal</button></a></p>
				<p class="m-auto p-2"><a href="{% url 'login' %}"> <button class="btn btn-lg btn btn-link border-dark btn-block" type="submit">Ir para a página de login</button></a></p>
			</div>
		</div>
	  </div>
	</div>
</div>

{% endblock %}