{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/hamburger.png' %}" alt="">
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="O que está procurando...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/menu.html' %}

    <div class="receipe-post-area section-padding-80">

        <!-- Receipe Post Search -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <select name="select1" id="select1">
                                <option value="1">Comida típica brasileira</option>
                                <option value="1">Massas</option>
                                <option value="1">Veganas</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-2 text-right">
                            <button type="submit" class="btn delicious-btn">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        <img src="{% static 'img/bg-img/roupa_banner.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>Data de lançamento: {{ produto.data_produto }}</span>
                            <h2>{{ produto.nome_produto }}</h2>
                            <div class="receipe-duration">
                                
                                <h6>Tamanhos disponíveis: 
                                    <input type="radio" name="webmaster" value="p"/> {{ produto.tamanho_pequeno}} 
                                    <input type="radio" name="webmaster" value="m"/> {{ produto.tamanho_medio}}
                                    <input type="radio" name="webmaster" value="g"/> {{ produto.tamanho_grande}}
                                    <input type="radio" name="webmaster" value="gg"/> {{ produto.tamanho_gigante}}
                                </h6>

                                <h6>Cores disponíveis: 
                                    <input type="radio" name="opcoes" value="html"/> {{ produto.cor_preto}}
                                    <input type="radio" name="opcoes" value="css"/> {{ produto.cor_azul}}
                                    <input type="radio" name="opcoes" value="javascript"/> {{ produto.cor_branco}}
                                    <input type="radio" name="opcoes" value="php"/> {{ produto.cor_cinza}}

                                </h6>
                                <h6>Categoria: {{ produto.categoria }}</h6>
                                <h6>Por: Pessoa</h6>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <h4>Design do produto</h4>
                        <div class="single-preparation-step d-flex">
                            <p align="justify">{{ produto.design_produto }}</p>
                        </div>
                    </div>

                    <!-- Ingredientes -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Descrição do produto</h4>
                            <div class="ingredients">
                                <p align="justify">{{ produto.descricao }}</p>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ingredientes -->

    {% include 'partials/footer.html' %}
{% endblock %}