{% extends 'base.html' %} 
{% load static %} {% block content %} 

{% include 'partials/_busca.html' %} 
{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0">
  <div class="container">
    <div class="row">
      {% if itens %}
      <div class="col-12">
        <div class="alert alert-dark text-dark border border-dark" role="alert">
          <h4 class="text-center">
            Prezado, {{ user.first_name }} {{ user.last_name }}!
          </h4>

          <h4 class="text-center">
            Visualize seus produtos adicionados ao carrinho do site da GOLDEN
            BEAR COMPANY <i class="fa fa-registered" aria-hidden="true"></i>
          </h4>

          <p style="color: black;">
            A sua loja digital, personalizada da GOLDEN BEAR COMPANY, onde você
            encontrará camisas, calças, blusas, acessórios, bonés e chaveiros,
            fique a vontade para entrar em contato conosco!
          </p>

          <hr />

          <p class="mb-0" style="color: black;">
            Abaixo a tabela com os produtos em que você adicionou ao carrinho.
            Ao confirmar a compra você será redirecionado para confirma o seu
            endereço de entrega e opções de pagamento.
          </p>

          <p class="m-auto p-2 text-center">
            <a href="{% url 'politicaDeDevolucao' %}"> 
                <button class="alert-link btn btn-link" type="submit">
                    Confira a política de troca, devolução e arrependimentos
                </button>
            </a><br>
            <a href="{% url 'termosDeCompra' %}"> 
              <button class="alert-link btn btn-link" type="submit">
                  Confira os termos e condições de compra
              </button>
          </a>

          <a href="{% url 'politicaDeReembolso' %}"> 
            <button class="alert-link btn btn-link" type="submit">
                Confira a política de reembolso
            </button>
        </a>
        </p>
        </div>

        {% include 'partials/_alertas.html' %} 

        
        <div class="contact-form-area">
            <div class="row">
              <div class="col-12">
                <h1 class="text-center">Carrinho de compras</h1>
                <table class="table table-striped table-dark table-bordered table-hover 
                  table-responsive-xl border border-dark text-center" border="rounded">
                  <thead class="table thead-dark table-responsive-xl">
                    <tr class="rounded">
                      <th scope="col">Número do pedido</th>
                      <th scope="col">Código do produto</th>
                      <th scope="col">Nome<br> do produto</th>
                      <th scope="col">Descrição<br> do produto</th>
                      <th scope="col">Quantidade unitária</th>
                      <th scope="col">Valor unitário</th>
                      <th scope="col">Remover produto</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for itemPedido in itens %}
                    <tr>
                      <th scope="row">#{{ itemPedido.pedido.id }}</th>
                      <th scope="row">#{{ itemPedido.produto.id }}</th>
                      <td>{{ itemPedido.produto.nome_produto }}</td>
                      <td>{{ itemPedido.produto.descricao }}</td>
                      <td>{{ itemPedido.quantidade }}</td>
                      <td>{{ itemPedido.produto.preco }}</td>
                      <td>
                        <form method="POST" action="{% url 'removerProduto' %}">
                          {% csrf_token %}
                          <button
                          class="text text-white btn btn-outline-dark btn-link"
                          type="submit"
                          >Remover <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                          <input type="hidden" name="produto" value="{{ itemPedido.id }}" />
                        </form>
                      </td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>
              </div>

              <div class="col-12 text-center">
                <button
                  class="btn btn-outline-dark border border-dark rounded btn-block"
                  type="submit"
                  onclick="exibirTelaConfirmarCompra()">
                  Confirmar compra
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>

                <button
                    class="btn btn-outline-dark border border-dark btn-block"
                    type="button"
                    onclick="exibirTelaHome()">
                    continuar comprando
                  </button>
              </div>
            </div>
          {% else %}
            <div class="alert alert-danger text-dark border border-dark" role="alert">
              <h4 class="alert-heading text-center">
                Prezado(a), {{ user.first_name }} {{ user.last_name }}!
              </h4>
              <br>

              <h4 class="alert-heading text-center">
                No momento você não possui nenhum produto adicionado ao seu carrinho
              </h4>
    
              <p style="color: black;">
                A sua loja digital, personalizada da GOLDEN BEAR COMPANY, onde você
                encontrará camisas, calças, blusas, acessórios, bonés e chaveiros,
                fique a vontade para entrar em contato conosco!
              </p>
    
              <hr />
    
              <p class="mb-0" style="color: black;">
                Para facilitar sua navegação dentro do site, você pode clicar no link abaixo e ir para o menu principal, selecionar 
                uma categoria e adicionar um produto ao seu carrinho.<br>
              </p>
              <a href="{% url 'index' %}" class="btn btn-block btn-link">
                <button
                  class="btn btn-outline-dark btn-link"
                  type="submit">Clique aqui! Para ir ao menu principal
                </button>
              </a>
             
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function exibirTelaHome() {
    location.href = "{% url 'index' %}";
  }

  function exibirTelaConfirmarCompra() {
    location.href = "{% url 'confirmarCompra' %}";
  }
</script>
{% include 'partials/_footer.html' %} 
{% endblock %}

