{% extends 'base.html' %} 
{% load static %} {% block content %} 

{% include 'partials/_busca.html' %} 
{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-success text-dark" role="alert">
          <h4 class="alert-heading text-center">
            Prezado, {{ user.first_name }} {{ user.last_name }}!
          </h4>

          <h4 class="alert-heading">
            Visualize seus produtos adicionados ao carrinho do site da GOLDEN
            BEAR COMPANY <i class="fa fa-registered" aria-hidden="true"></i>
          </h4>

          <p style="color: black;">
            A sua loja digital, personalizada da GOLDEN BEAR COMPANY, onde você
            encontrará camisas, calças, blusas, acessórios, bonés e chaveiros,
            fique a vontade para entrar em contato conosco!
          </p>

          <hr />

          <p class="mb-0" style="color: black;">
            Abaixo a tabela com os produtos em que você adicionou ao carrinho.
            Ao confirmar a compra você será redirecionado para confirma o seu
            endereço de entrega e opções de pagamento.
          </p>
        </div>

        {% include 'partials/_alertas.html' %} 

        <div class="contact-form-area">
          <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <table class="rounded table table-striped border border-dark text-center">
                  <thead class="rounded thead-dark text-center">
                    <tr class="rounded">
                      <th scope="col">Código</th>
                      <th scope="col">Produto</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Valor Unitário</th>
                      <th scope="col">Quantidade</th>
                      <th scope="col">Remover Produto</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for itemPedido in itens %}
                    <tr>
                      <th scope="row">#00{{ itemPedido.id }}</th>
                      <td>{{ itemPedido.produto.nome_produto }}</td>
                      <td>{{ itemPedido.produto.descricao }}</td>
                      <td>{{ itemPedido.produto.preco }}</td>
                      <td>{{ itemPedido.quantidade }}</td>
                      <td><button
                        class="btn btn-outline-dark btn-link"
                        type="submit"
                      >Remover
                      </button></td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>
              </div>

              <div class="classynav col-12 text-center">
                <button
                  class="btn btn-outline-dark border border-dark rounded btn-block"
                  type="submit">
                  Confirmar compra
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>

                <button
                  class="btn btn-outline-dark border border-dark btn-block"
                  type="button"
                  onclick="exibirTelaHome()">
                  continuar comprando
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function exibirTelaHome() {
    location.href = "{% url 'index' %}";
  }
</script>
{% include 'partials/_footer.html' %} 
{% endblock %}

