{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">
        <div class="row">

            <div class="alert alert-dark text-dark border border-dark" role="alert">
                <h2 class="text-left">Informações sobre a política de reembolso da GOLDEN BEAR COMPANY 
                    <i class="fa fa-registered" aria-hidden="true"></i>
                </h2><br>

                <h3>Política de Reembolso</h3>
                <hr/>

                <p class="text-justify" style="color:black">
                    <strong>1.</strong> Objetivo Padronizar as atividades de reembolso de despesas para colaboradores em viagens
                    a serviço, gastos com clientes e projetos em andamento.<br>

                    
                    <strong>2.</strong> Abrangência Todos os funcionários da Golden Bear Company<br>
                    
                    <strong>3.</strong> Definições
                </p>

                <h3>Reembolso - restituição de valor pago em função de uma despesa feita pelo 
                    funcionário em nome Golden Bear Company
                </h3>
                <hr/>

                <p class="text-justify" style="color:black">

                    <strong>4.</strong> Descrição dos Procedimentos

                    PREENCHIMENTO DO FORMULÁRIO: <strong>4.1</strong> O formulário deve ser preenchido com: nome, centro de custo, 
                    motivo da despesa, 
                    breve sumário de cada despesa, assinado pelo executor e aprovado conforme os limites estabelecidos; 
                    <strong>4.2</strong> Anexar os comprovantes de cada valor gasto. Os comprovantes devem conter: a) Razão Social e CNPJ; b) 
                    Para refeições: relacionar no verso da nota o nome dos participantes, cargo, empresa e motivos; c) Demais notas: 
                    identificar os motivos e participantes, quando houver mais de uma pessoa envolvida no gasto. 
                    <strong>4.3</strong> Separar as despesas 
                    feitas em Real e em outra moeda; <strong>4.4</strong> Informar os valores recebidos como adiantamento, seja em Real ou outra moeda; 
                    <strong>4.5</strong> Serão devolvidos ao requisitante os formulários: a) Rasurados; b) Sem explicação do motivo da despesa; c) 
                    Sem comprovante anexo; d) Sem as devidas aprovações.<br><br>

                    APROVAÇÃO <strong>4.6</strong> Os funcionários devem colher as devidas aprovações de seus gestores. <strong>4.7</strong> O Departamento 
                    Financeiro deve verificar se as assinaturas nos formulários estão de acordo com os gestores de cada área.<br><br>

                    REGRAS GERAIS <strong>4.8</strong> As despesas devem ser realizadas estritamente com o objetivo de viabilizar a execução do 
                    trabalho ou a realização de um projeto (inclusive treinamento). <strong>4.9</strong> A realização de despesas durante a execução de um 
                    trabalho deve ser norteada pela maior economia possível, uma vez que os mesmos representam custos para a operação. <strong>4.10</strong> 
                    Os gastos a serem incorridos na realização de um trabalho devem obrigatoriamente seguir as regras estabelecidas neste 
                    procedimento. <strong>4.11</strong> Eventuais exceções devem ser obrigatoriamente discutidas previamente com o CEO. <strong>4.12</strong> 
                    Todas as solicitações de reembolso de despesa devem ser solicitadas utilizando-se o Golden Bear Company             
                </p>

                <h3>
                    Política de Reembolso de Despesas
                </h3>
                <hr/>

                <p class="text-justify" style="color:black">

                    Formulário Requisição de Reembolso; 
                    <strong>4.13</strong> Os comprovantes de despesas (Notas simplificadas e recibos) devem ter a indicação da Razão Social e 
                    do CNPJ da empresa. 
                    <strong>4.14</strong> Todas as solicitações de reembolso de despesas, devem ser solicitadas e entregues para o departamento 
                    Financeiro obedecendo os prazos a seguir: a) Entrega até o dia 05 (cinco) do Mês -Recebimento dia 10 (dez) do Mês; b) 
                    Entrega até o dia 15 (quinze) do Mês - Recebimento dia 20 (vinte) do Mês. 
                    <strong>4.15</strong> Não são aceitas, sob nenhuma hipótese, prestações de contas com solicitação de reembolso de compras de equipamentos e material 
                    de escritório e outros itens que não estejam descritos neste procedimento; 
                    <strong>4.16</strong> Todas as prestações de contas serão revisadas pelo departamento financeiro, caso estejam em desacordo com este procedimento 
                    não serão reembolsadas (mesmo que aprovadas); 
                    <strong>4.17</strong> As despesas com cursos externos, inscrições em eventos, certificações nacionais e internacionais, devem ser aprovadas 
                    previamente pelo CEO.<br><br>

                    PERIODICIDADE 
                    <strong>4.18</strong> As prestações de contas devem ser elaboradas no mês em que as despesas são incorridas. 
                    <strong>4.19</strong> O prazo para entrega das requisições é de até 02 (dois) dias após o gasto, ou retorno da viagem.              
                </p>

                <h3>
                    DESPESAS NÃO REEMBOLSÁVEIS
                </h3>
                <hr/>

                <p class="text-justify" style="color:black">
                
                    <strong>4.20</strong> PASSAGENS AÉREAS a) As passagens aéreas devem ser adquiridas pela área administrativa da Golden Bear Company 
                    e devem ser solicitadas com pelo menos 15 dias de antecedência; b) Não serão reembolsadas ou pagas as passagens 
                    aéreas adquiridas por agentes de viagens não autorizados ou diretamente das companhias aéreas; c) As datas de embarque e 
                    retorno devem ser programadas de acordo com as exigências do trabalho/treinamento, visando maximizar a economia em termos 
                    de estada e tarifas aéreas. d) Os bilhetes de viagem eventualmente não utilizados devem, obrigatoriamente, ser cancelados 
                    tempestivamente por intermédio da área administrativa. e) Remarcações e cancelamentos devem ser feitos em caso extremos mediante 
                    prévia autorização, evitando assim custos desnecessários. f) Todos os voos devem ser reservados em classe econômica; g) 
                    As exceções devem ser discutidas com o CEO;<br><br>

                    <strong>4.21</strong> HOSPEDAGEM a) Solicitar à área Administrativa reserva nos hotéis pré-selecionados pela Golden Bear Company. b) 
                    Quando aplicável, serão reservados quartos duplos ou triplos;
                </p>

                <h3>
                    Golden Bear Company
                </h3>

                <h3>
                    Política de Reembolso de Despesas
                </h3>

                <h3>
                    DESPESAS REEMBOLSÁVEIS
                </h3>
                <hr/>

                <p class="text-justify" style="color:black">
                
                    <strong>4.22</strong> TRANSLADOS E TRANSPORTES a) Táxi - Os valores de táxi serão reembolsados mediante apresentação de recibo original, 
                    sem nenhum tipo de rasura. Na prestação de contas deverão ser descritos os trechos e os dias de utilização dos táxis:<br><br>

                    <strong>*</strong> A utilização de taxi deve ser feita, sempre que possível, de forma compartilhada pela equipe do projeto; deve-se utilizar 
                    o serviço conexão aeroporto nos deslocamentos para o aeroporto de Confins; b) Estacionamento - Os valores de estacionamento 
                    só serão reembolsados quando os funcionários estiverem em visitas a clientes, ou reuniões externas para discussões de 
                    assuntos de interesse da Golden Bear Company.<br><br>
                    
                    <strong>4.23</strong> ALMOÇO a) As despesas com almoço não são elegíveis para fins de reembolso, exceto quando:<br><br>
                    
                    <strong>*</strong> Viagem ao exterior – até VALOR A SER DEFINIDO<br>
                    
                    <strong>*</strong> Almoço com clientes – previamente autorizado<br>
                    
                    <strong>*</strong> Finais de semana ou feriados excepcionalmente quando estiver a trabalho, o reembolso deve ser previamente autorizado. 
                    b) Dessa forma, não são passíveis de reembolso, entre outras, as seguintes despesas de almoço:<br>
                    
                    <strong>*</strong> em treinamento (mesmo que fora de sua base); e<br>
                    
                    <strong>*</strong> em viagens nacionais.<br><br>
                    
                    <strong>4.24</strong> JANTAR a) O reembolso do jantar será feito considerando o valor máximo por refeição de R$25,00, sendo que são elegíveis 
                    para esse reembolso as despesas realizadas em viagens nacionais e treinamentos. b) Projeto: quando ocorrer situação em que 
                    o projeto exija a permanência da equipe durante a noite. Este reembolso tem um caráter de excepcionalidade e deve ser aprovado 
                    previamente pelo gestor da área. <strong>4.25</strong> CAFÉ DA MANHÃ a) As despesas com café da manhã serão reembolsadas pela Empresa quando o 
                    profissional estiver em viagem com limite de R$15,00, quando não estiver incluído na diária de hotel.<br><br>
                    
                    <strong>4.26</strong> FRIGOBAR a) São admissíveis reembolso de despesas com frigobar até R$15,00. 
                    Não estão incluídas bebidas alcoólicas e cigarros;<br><br>
                    
                    <strong>4.27</strong> TELEFONEMAS a) São passíveis de serem reembolsadas as chamadas telefônicas que sejam realizadas exclusivamente por razões de 
                    trabalho. b) Chamadas feitas por celulares ou telefones particulares devem ser reembolsadas quando houver o detalhamento da chamada 
                    na respectiva conta telefônica; c) Os profissionais que estão fora de sua base, têm direito de realizar ligações pessoais em 
                    quantidades razoáveis.

                </p>

                <h3>
                    Golden Bear Company
                </h3>

                <h3>
                    Política de Reembolso de Despesas
                </h3>
                <hr/>

                <p class="text-justify" style="color:black">
                
                    <strong>4.28</strong> INTERNET a) Será reembolsada diárias de internet em hotel, em quantidades razoáveis, desde que sejam para uso 
                    exclusivo da empresa.<br><br>

                    <strong>4.29</strong> LAVANDERIA a) São passíveis de serem reembolsados os valores que sejam compatíveis com o tempo de estada 
                    (no mínimo 3 dias) e em quantidades razoáveis.<br><br>

                    <strong>4.30</strong> GORJETAS a) São reembolsados os valores que sejam compatíveis com o serviço prestado e nos termos das 
                    convenções internacionalmente aceitas (10% no Brasil e 15% no exterior para serviços de hotelaria e restaurantes), 
                    com os respectivos comprovantes de cartão de crédito.<br><br>

                    <strong>4.31</strong> DESPESAS EFETUADAS EM MOEDA ESTRANGEIRA a) Despesas efetuadas em moeda estrangeira 
                    mediante cartão de crédito<br><br>

                    <strong>*</strong> A prestação de contas deve ser elaborada com base na taxa de câmbio da moeda estimada para o dia do vencimento 
                    da fatura fornecida pela operadora de cartão;<br>

                    <strong>*</strong> Se esta taxa não seja conhecida no momento da elaboração da prestação de contas, deve ser utilizada a taxa 
                    de câmbio turismo do dia anterior.<br>

                    <strong>*</strong> As prestações de contas que envolvam a utilização de outra moeda que não o Real - R$ devem conter em anexo 
                    planilha demonstrando os valores e a taxas de câmbio utilizadas para fins de conversão para nossa moeda local. b) 
                    Variação da taxa do dólar estimada<br>

                    <strong>*</strong> Variação Negativa: emitir solicitação de reembolso contendo o valor dessa variação deve ser acompanhada da cópia 
                    da respectiva fatura do cartão de crédito.<br>

                    <strong>*</strong> Variação Positiva: devolver o valor mediante cheque nominal ou depósito identificado. c) Imposto sobre Operações 
                    Financeiras - IOF<br>

                    <strong>*</strong> O IOF incidente sobre as despesas incorridas no exterior (ocorre somente quando o pagamento destas é feito por 
                    cartão de crédito) são passíveis de reembolso pela Empresa.<br>

                    <strong>*</strong> Devem ser emitida nas prestações contas, em atividade específica. Cópia da fatura do cartão de crédito indicando 
                    o valor do IOF deve ser anexada à prestação de contas. d) Despesas pagas com papel moeda<br>

                    <strong>*</strong> As despesas em dólares ou em outra moeda estrangeira devem ser convertidas para Reais (R$) pela taxa dessa moeda 
                    vigente na data da elaboração da prestação de contas.<br>

                    <strong>5</strong> Referências <strong>5.1</strong> Formulários
                </p>

                <h3>
                    • Solicitação de reembolso.
                </h3>

                <h3>
                    Golden Bear Company
                </h3>


                {% if user.is_authenticated %}
                <p class="m-auto p-2">
                    <a href="{% url 'carrinho' %}"> 
                        <button class="alert-link btn btn-block btn-link" type="submit">
                            Voltar para o carrinho de compras
                        </button>
                    </a>
                </p>
                {% else %}
                <p class="m-auto p-2">
                    <a href="{% url 'sobre' %}"> 
                        <button class="alert-link btn btn-block btn-link" type="submit">
                            Voltar para a página sobre nós
                        </button>
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}