{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">
        <div class="row">

            <div class="alert alert-dark text-dark" role="alert">
                <h2 class="text-left">Informações sobre a empresa GOLDEN BEAR COMPANY 
                    <i class="fa fa-registered" aria-hidden="true"></i></h2><br>
                <p style="color:black">A sua loja digital, personalizada da GOLDEN BEAR COMPANY, onde você encontrará camisas, 
                    calças, blusas, acessórios, bonés e chaveiros, fique a vontade para entrar em contato conosco! 
                </p>

                <hr>

                <h4>Sobre nós </h4>
                <p align="justify" style="color:black">Criada em 2017, Golden Bear é a sua loja de roupas e acessórios 
                    para o dia-a-dia. Aqui você encontrará todos os produtos que estão em alta no momento e que são 
                    personalizados do jeitinho Golden Bear de ser.
                </p>

                <hr>

                <p align="justify" style="color:black">Enviamos para todo o Brasil via correio<br>
                    Dúvidas? contate-nos via WhatsApp ou Instagram, clicando nos ícones disponíveis no rodapé.
                </p>
                <hr/>
                
                <p class="m-auto p-2 text-center">
                    <a href="{% url 'politicaDeDevolucao' %}"> 
                        <button class="alert-link btn btn-link" type="submit">
                            Confira a política de troca, devolução e arrependimentos
                        </button>
                    </a><br>
                    <a href="{% url 'termosDeCompra' %}"> 
                      <button class="alert-link btn btn-link" type="submit">
                          Confira os termos e condições de compra
                      </button>
                    </a>
        
                    <a href="{% url 'politicaDeReembolso' %}"> 
                        <button class="alert-link btn btn-link" type="submit">
                            Confira a política de reembolso
                        </button>
                    </a>

                    <a href="{% url 'politicaDePrivacidade' %}"> 
                        <button class="alert-link btn btn-link" type="submit">
                            Conferir a política de privacidade
                        </button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}