{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Search Wrapper -->
<div class="search-wrapper">
<!-- Close Btn -->
<div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" method="post">
                    <input type="search" name="search" placeholder="O que está procurando...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'partials/_menu.html' %}

<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">
        <div class="row">
            <div class="alert alert-success text-dark" role="alert">
                <h4 class="alert-heading">Informações sobre a empresa GOLDEN BEAR COMPANY 
                    <i class="fa fa-registered" aria-hidden="true"></i></h4>
                <p style="color:black">A sua loja digital, personalizada da GOLDEN BEAR COMPANY, onde você encontrará camisas, 
                    calças, blusas, acessórios, bonés e chaveiros, fique a vontade para entrar em contato conosco! 
                </p>
            </div>
            <div class="col-12 col-md-12">
                <div class="receipe-headline my-5">
                    <div class="receipe-duration">
                        <h6>Fundação da Empresa: 11 de Setembro de 2020</h6>
                        
                        <h6>Nome da empresa: Golden Bear Company
                        </h6>
                        <h6>Proprietario: CAIO HENRIQUE</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <h4>Sobre Nós</h4>
                    <div class="single-preparation-step d-flex">
                        <p align="justify" style="color:black">Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, but also the leap into electronic typesetting, 
                            remaining essentially unchanged. It was popularised in the 1960s with the release of 
                            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into 
                            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
                            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                        <h4>Nossos produtos</h4>
                        <div class="ingredients single-preparation-step d-flex">
                            <p align="justify" style="color:black">Lorem Ipsum is simply dummy text of the printing and typesetting 
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
                                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}