{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">
        <div class="row">

            <div class="alert alert-success text-dark" role="alert">
                <h4 class="alert-heading text-center text-dark">Informações sobre a empresa GOLDEN BEAR COMPANY 
                    <i class="fa fa-registered" aria-hidden="true"></i></h4><br>
                <p style="color:black">A sua loja digital, personalizada da GOLDEN BEAR COMPANY, onde você encontrará camisas, 
                    calças, blusas, acessórios, bonés e chaveiros, fique a vontade para entrar em contato conosco! 
                </p>

                <hr>

                <h4 class="alert-heading">Sobre nós </h4>
                <p align="justify" style="color:black">Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, 
                    remaining essentially unchanged. It was popularised in the 1960s with the release of 
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap into 
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <hr>

                <h4 class="alert-heading">Nossos produtos </h4>
                <p align="justify" style="color:black">Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                    five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>
    </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}